<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pierre.tan" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />



    <application
        android:name="app.AppController"
        android:allowBackup="true"
        android:icon="@drawable/ic_bus"
        android:label="@string/app_name"
        android:theme="@style/MyMaterialTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


        <activity
            android:name="activity.SplashScreen"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="activity.MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"
        >
        </activity>

        <activity
            android:label="@string/app_name"
            android:name="activity.TempsActivity"
            android:parentActivityName="activity.MainActivity"
            android:configChanges="orientation|screenSize"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="activity.MainActivity" />
</activity>
        <activity
            android:label="@string/app_name"
            android:name="activity.MyPreferencesActivity"
            android:parentActivityName="activity.MainActivity"
            android:configChanges="orientation|screenSize"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="activity.MainActivity" />
        </activity>
        <activity
            android:label="@string/app_name"
            android:name="activity.ChangelogActivity"
            android:parentActivityName="activity.MyPreferencesActivity"
            android:configChanges="orientation|screenSize"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="activity.MyPreferencesActivity" />
        </activity>
        <activity
            android:label="@string/app_name"
            android:name="activity.HorairesActivity"
            android:parentActivityName="activity.TempsActivity"
            android:configChanges="orientation|screenSize"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="activity.TempsActivity" />
        </activity>
    </application>

</manifest>
